body
{
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

ul
{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

li
{
	list-style-type: none;
}

.container
{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.header
{
	flex: 1 1 100%;
}

.channels
{
	flex: 1 auto;
}

.channel-name:hover
{
	background-color: gray;
}

.messages
{
	flex: 3 auto;
}

.message
{
	margin-top: 10px;
}

.message .from
{
	font-weight: bold;
	display: block;
}

.input-field
{
	padding: .67861em 1em;
	background: white;
	border: 1px solid rgba(0,0,0,.15);
	color: rgba(0,0,0,.8);
	border-radius: .2857rem;
}
