body
{
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

ul
{
	padding: 0;
	margin: 0;
}

li
{
	list-style-type: none;
}

h2
{
	margin-top: 0;
}

.content-container
{
	position: relative;
	padding-left: 200px;
}

.header
{
}

.channels
{
	position: absolute;
	left: 0;
	top: 0;
	width: 180px;
}

.channel-name:hover
{
	background-color: gray;
}

.channel-name.selected
{
	background-color: red;
}

.messages
{
	flex: 3 80%;
}

.message
{
	margin-top: 10px;
}

.message .from
{
	font-weight: bold;
	display: block;
}

.input-types-select-tabs
{
	display: table;
	width: 100%;
	padding-top: 10px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.input-type-select-tab
{
	display: table-cell;
	border-bottom: 1px solid #eee;
	color: #ccc;
	line-height: 40px;
	text-align: center;
	width: 50px;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 12px;
}

.input-type-select-tab.selected
{
	border-width: 1px;
	border-radius: 5px 5px 0 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
	color: #000;
	border-bottom-color: #fff;
}

.text-input-field
{
	padding: .67861em 1em;
	background: white;
	border: 1px solid rgba(0,0,0,.15);
	color: rgba(0,0,0,.8);
	border-radius: .2857rem;
}
